

.about-me {
  background-image: url('../images/wave-haikei.svg'); 
  background-repeat: no-repeat;
  background-size: cover;
  color: #141313; 
  min-height: 100vh;
}

.about-me h2 {
  font-size: 2rem;
  font-weight: 700;
}

.about-me p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.about-me ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-me li {
  margin-bottom: 10px;
}

.about-me .skills {
  margin-top: 30px;
}
